@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@300&family=Sacramento&display=swap&family=Poppins:wght@300&display=swap");
body {
  margin: 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
p {
  font-size: 1.25rem;
}
h1 {
  margin-top: 0;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  margin: 50px auto 0px auto;
  color: #66bfbf;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
}
h3 {
  color: #11999e;
}
.top-container {
  background-color: #e4f9f5;
  padding-top: 100px;
  position: relative;
}
.top-cloud {
  position: absolute;
  right: 20%;
  top: 50px;
  height: 60px;
}
.bottom-cloud {
  position: absolute;
  left: 20%;
  bottom: 300px;
  height: 60px;
}
.mountain {
  width: 650px;
  height: 450px;
}
.bottom-container {
  background-color: #e4f9f5;
}
.footer-link {
  color: #11999e;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px;
  text-align: left;
  line-height: 2;
}
.computer-img,
.chilli-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}
